* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./assets/bg.png") no-repeat center center;
    background-size: cover;
    aspect-ratio: 1;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
  }